# For MAcOS
**/**.xcodeproj
**/**.DS_Store

# For Codeblocks (Windows)
**/**.cbp
**/**.layout
**/**.depend
**/bin/**
**/obj/**

**/.vscode/**
**.exe
**.example

*.cbp
*.depend
*.layout

# Temporary ignores
**/activity07/**
**/activity08/**
**/activity09/**
**/activity10/**
**/finalActivity/**
**/trabalho-final-original/**
**/AEDSI Schedule.txt
**/02 - Intermediate/**
**/03 - Advanced/tmp.txt
